<!-- https://tailwindui.com/components/marketing/sections/logo-clouds -->
{%- assign c = site.data.logo_cloud -%}
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">{{c.title}}</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
      {%- for item in c.items -%}
      <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="{{item.src}}" alt="{{item.alt}}" width="158" height="48">
      {%- endfor -%}
    </div>
  </div>
</div>

