---
layout: default
---
<div class="relative py-24 md:py-28 bg-white overflow-hidden font-sans">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-screen-md	 mx-auto mb-8">
      <h1
        class="font-misc mt-2 mb-4 text-4xl text-center leading-8 font-extrabold text-gray-800 md:text-4xl sm:leading-10">
        {{ page.title | escape }}</h1>
        {%- if page.description -%}
          <p class="text-center">{{page.description}}</p>
        {%- endif -%}
    </div>
    <div class="prose-lg text-gray-800 mx-auto">
      {{ content }}
    </div>
  </div>
</div>